<header>
    <nav class="navbar">
        <div class="navbar-container">
    
            <a href="/" class="navbar-brand {% if currentPage == 'index' %}active{% endif %}">
                <img src="/images/logo.png" alt="Trade Tank logo" class="navbar-logo">
            </a>
    
            <div class="navbar-links">
                <a href="/login" class="navbar-link {% if currentPage == 'login' %}active{% endif %}"">Log In</a>
                <a href="/signup" class="navbar-link {% if currentPage == 'signup' %}active{% endif %}">Sign Up</a>
            </div>
    
        </div>
    </nav>
</header>