<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "partials/head.njk" %}

        <title>{% block title %}Trade Tank{% endblock %}</title>
    </head>
    
    <body
        data-protected-page
        {% if colorScheme %}data-color-scheme="{{ colorScheme }}"{% endif %}>
        {% include "partials/navbar-app.njk" %}

        <main>
            {% block content %}{% endblock %}
        </main>

        {% include "partials/footer.njk" %}
    </body>
</html>
