{% extends "layouts/base.njk" %}

{% block bodyAttributes %}
    data-protected-page
    {% if colorScheme %} data-color-scheme="{{ colorScheme }}"{% endif %}
{% endblock %}

{% block navbar %}
    {% include "partials/navbar-app.njk" %}
{% endblock %}
