<!DOCTYPE html lang="en">
<html>
    <head>
        {% include "partials/head.njk" %}

        <title>{% block title %}Trade Tank{% endblock %}</title>
    </head>
    
    <body>
        {% include "partials/navbar-app.njk" %}

        <main>
            {% block content %}{% endblock %}
        </main>

        {% include "partials/footer.njk" %}
    </body>
</html>