{# Shared HTML page structure. Other layouts add navigation and page-specific settings. #}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "partials/head.njk" %}

        {% block scripts %}{% endblock %}

        <title>{% block title %}Trade Tank{% endblock %}</title>
    </head>

    <body{% block bodyAttributes %}{% endblock %}>
        {% block navbar %}{% endblock %}

        <main>
            {% block content %}{% endblock %}
        </main>

        {% include "partials/footer.njk" %}
    </body>
</html>
