{# Public-site layout with the informational navigation variant. #}
{% extends "layouts/base.njk" %}

{% block bodyAttributes %}
    data-color-scheme="tank"
{% endblock %}

{% block navbar %}
    {% include "partials/navbar-main.njk" %}
{% endblock %}
