{# Layout used by public pages, with navigation for visitors. #}
{% extends "layouts/base.njk" %}

{% block bodyAttributes %}
    data-color-scheme="tank"
{% endblock %}

{% block navbar %}
    {% include "partials/navbar-main.njk" %}
{% endblock %}
