{% extends "layouts/main.njk" %}

{% block title %}Trade Tank: About{% endblock %}

{% block content %}
<div class="main-container">
    <div class="copy">
        <h1>About Trade Tank</h1>

        <ul>
            <li>
                Designed for thoughtful, self-reflective trading analysis, Trade Tank is simply
                one tool of many available in the complex realm of trading.
            </li>

            <li>
                It specifically focuses upon traders in the CME E-mini S&amp;P 500 futures market,
                with openness to expanding its repertoire in the future.
            </li>

            <li>
                Trade Tank prefers to use metrics that represent a trader's skill, progression,
                and satisfaction with their own performance; these metrics include but are not
                limited to: points, order types, and premise adherence.
            </li>

            <li>
                The ultimate goal of this tool is to facilitate the improvement of serious traders
                in compounding their skill with experience, self-awareness, and discipline.
            </li>
        </ul>
    </div>
</div>
{% endblock %}
