{% extends "layouts/main.njk" %}

{% block title %}Trade Tank: Contact{% endblock %}

{% block content %}
<div class="main-container">
    <div class="copy">
        <h1>Contact Trade Tank</h1>
        
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras feugiat viverra consectetur. Maecenas neque
            tortor, fringilla id gravida a, finibus nec justo. In et libero vitae arcu aliquam bibendum. Aliquam nec
            augue eu diam lobortis maximus. Quisque sed condimentum dolor, vitae dignissim urna. Phasellus dolor turpis,
            sagittis efficitur urna sit amet, malesuada sollicitudin tortor. Sed vulputate tortor id lacinia ultrices.
            Maecenas et libero aliquet, aliquam odio sit amet, auctor sapien. Nam fermentum massa libero, nec eleifend
            felis blandit et.

            Suspendisse vestibulum risus vel aliquet accumsan. Nam efficitur ac tortor eu blandit. Morbi fringilla,
            nulla quis viverra hendrerit, ipsum nunc ultricies ligula, sed ornare odio purus quis nulla. Aliquam maximus
            tincidunt neque dignissim mattis. Sed magna tellus, mattis a felis eget, porttitor vehicula turpis. Aenean
            pretium, sem in iaculis suscipit, mauris nulla ultrices augue, id iaculis lacus lectus eget turpis. Vivamus
            sit amet orci molestie, ultrices nibh sit amet, aliquet elit.
        </p>
    </div>
</div>
{% endblock %}