{% extends layoutTemplate %}
{# Presents the project's public contact information. #}

{% block title %}Trade Tank: Contact{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="copy copy--information">
            <h1>Contact Trade Tank</h1>

            <p>
                The creators of Trade Tank are eager to hear feedback from users about any
                feature of the application. Feel free to suggest improvements or report issues
                in an email sent to:
            </p>

            <a class="home-page-card contact-email-card" href="mailto:contact@tradetank.dev">
                <span class="home-page-card-heading">Email</span>
                <span class="home-page-card-copy">contact@tradetank.dev</span>
            </a>

            <p>
                As widely known, it is not necessary to send any unsolicited personal
                information when contacting us. We appreciate all details, but we will neither
                ask for nor consider users' personal details when improving the application.
            </p>
        </div>
    </div>
{% endblock %}
