<!DOCTYPE html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="device-width, initial-scale=1.0">
        <title>Trade Tank</title>
    </head>
    <body>
        <h1>Trade Tank</h1>
        <p>Welcome to Trade Tank!</p>
    </body>
</html>