{% extends "layouts/main.njk" %}

{% block title %}Trade Tank: Index{% endblock %}

{% block content %}
<div class="main-container">
    <div class="copy">
        <h1>Welcome to Trade Tank</h1>
        <p>
            This platform serves users with specifically useful tools for trading
            analysis. With a simple and intuitive interface this application intends
            to thoroughly assist serious traders during their reflection.
        </p>
    </div>

    <div class="slideshow">
        <img class="slideshow-image" 
            src="/images/image-1.jpg" 
            alt="Preview #1 of application">
        <img class="slideshow-image" 
             src="/images/image-2.jpg" 
             alt="Preview #2 of application">
        <img class="slideshow-image" 
             src="/images/image-3.jpg" 
             alt="Preview #3 of application">
    </div>

    <div class="call-to-action">
        <p>Enjoy the application, after creating an account and logging in.</p>

        <a class="button" href="/login">Log In</a>
        <div class="button-or">
            <hr>
            <p>Or</p>
            <hr>
        </div>
        <a id="index-signup-button" class="button" href="/signup">Sign Up</a>
    </div>
</div>
{% endblock %}