{% extends "layouts/app.njk" %}

{% block title %}Trade Tank: Input{% endblock %}

{% block content %}
    <div class="main-container">
        <canvas id="input-chart"></canvas>
    </div>
{% endblock %}