{% extends "layouts/app.njk" %}

{% block title %}Trade Tank: Input{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="candlestick-chart-container">
            <canvas id="candlestick-chart"></canvas>
        </div>
    </div>
{% endblock %}