{% extends "layouts/main.njk" %}

{% block title %}Trade Tank: Login{% endblock %}

{% block content %}
    <div class="main-container">
        <form
            method="POST"
            class="form"
            data-login-form
            {% if errorMessage or successMessage or username %}data-clear-query{% endif %}>
            <div class="form-header">
                <h1>Log In</h1>
            </div>

            {% if successMessage %}
                <p class="form-message form-message--success">{{ successMessage }}</p>
            {% endif %}

            {% if errorMessage %}
                <p class="form-message form-message--error">{{ errorMessage }}</p>
            {% endif %}

            <div class="form-fields">
                <div class="form-field">
                    <label for="username">Username</label>
                    <input
                        type="text"
                        id="username"
                        class="form-input"
                        name="username"
                        value="{{ username }}"
                        autocomplete="username"
                        required>
                </div>

                <div class="form-field">
                    <label for="password">Password</label>
                    <input
                        type="password"
                        id="password"
                        class="form-input"
                        name="password"
                        autocomplete="current-password"
                        required>
                </div>

                <div class="form-misc">
                    <div class="checkbox-field">
                        <input type="checkbox" id="remember" class="checkbox" name="remember">
                        <label for="remember">Remember me</label>
                    </div>

                    <a href="/forgot-password">Forgot password?</a>
                </div>
            </div>

            <input type="submit" class="button" value="Log In">
        </form>
    </div>
{% endblock %}
