{% extends layoutTemplate %}
{# Presents the terms of use using the appropriate public or app layout. #}

{% block title %}Trade Tank: Terms of Use{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="copy copy--information">
            <h1>Terms of Use</h1>

            <h2>Purpose and access</h2>
            <p>
                Trade Tank is a non-commercial, free tool for a select group
                of users who are not considered the general public. It
                guarantees no specific outcome and expects nothing in return
                from the user.
            </p>

            <h2>Agreement and responsibility</h2>
            <p>
                By creating an account, a user indicates their agreement to
                these Terms. To the fullest extent permitted by applicable
                law, Trade Tank is not liable for consequences resulting from
                or involving use of the web application. Trade Tank agrees to
                make reasonable efforts at all times to protect users'
                privacy, data, and security in matters pertaining to the web
                service.
            </p>
        </div>
    </div>
{% endblock %}
